<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <body>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </body>
  <footer class="bg-light text-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; pedrovb2002</p>
      </div>
      <div class="col-md-6">
        <ul class="list-inline text-end">
          <li class="list-inline-item"><a href="https://instagram.com/Y" class="text-dark"><i class="fab fa-instagram"></i>Instagram: @Y</a></li>
          <li class="list-inline-item"><a href="mailto:Y@gmail.com" class="text-dark"><i class="fas fa-envelope"></i>Mail de contacto: Y@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
</html>
